<div class="container pt-5">
    <div class="mb-5">
        <a class="btn btn-success" href="/"><i class="fas fa-home"></i></a> 
        <a class="btn btn-primary" href="/contacto/editar/{{this._id}}"><i class="far fa-edit"></i></a> 
    </div>
    <div class="jumbotron p-5">
       <div class="form-group row">
            <div class="col-sm-12">
                <textarea rows="15" class="form-control" id="direcciones" name="direcciones" spellcheck="false">
{{json}}
                </textarea>
            </div>
        </div>
    </div>
</div>